.backf {
  background: $color-primary;
}

.flex-container {
padding: 20px;
display: flex;
flex-flow: row wrap;
justify-content: space-around;
width: 80%;
height: 80%;
margin: 0 auto;
gap: 20px;
}

.caja {
border: 1px solid black;
border-radius: 10px;
background: white;
width: 300px;
height: 450px;
text-align: center;
margin: 5px;
}

.imagen {
width: 298px;
height: 240px;
border-radius: 5px;
}

.texto {
  color: black;
  h1 {
    font-size: 30px;
  }
}


@media (min-width: 1366px){
  .texto:hover {
    color: $color-primary;
  }
  
  .caja:hover {
    background-color: $color-tertiary;}
}