.contenedor {
  width: 100%;
  height: auto;
  background: skyblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.box {
  border:5px solid white;
  border-radius: 10px;
  width: 20%;
  height: 350px;
  background: $color-tertiary;
  margin: 20px;
  text-align: center;
  overflow: auto;
  overflow: scroll;
  overflow-x: hidden;
}
.img {
  width: 93%;
  height: 190px;
  margin: 10px;
  border-radius: 10px;
}
.text {
  color: white;
  padding: 10px;
}

@media (max-width: 1200px) {
  .box {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .box {
    width: 90%;
  }
}

@media (min-width: 1366px) {
.box:hover {
  background: #441151;
}
.text:hover {
color: aqua;
}
}
