.menu-restaurante {
  background-image: url("../../img/dark-texture-in-watercolor.jpg");
  background-size: cover;
  color: $color-primary;
  text-align: center;
  align-items: center;
  background-repeat: no-repeat;
  border-radius: 6px;
  display: flex;
  flex-flow: column;
  padding: 10px;
  p {
    font-size: 20px;
  }
}

.wrap {
  max-width: 100vw;
  margin: 0 auto;
}

.column-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  margin: 10px;
}
hr {
  background: #ffc300;
  height: 3px;
  width: 100%;
  border: none;
}

.precio-menu {
  font-weight: bold;
}

.precio-menu span {
  font-size: 2rem;
  color: #ffc300;
}

.imagn {
  height: 150px;
  width: 200px;
  border-radius: 10px;
  margin: 3px;
}

.wrap {
  h2 {
    color: $color-primary;
    font-size: 50px;
  }
  h3 {
    color: $color-quaternary;
    font-size: 40px;
  }
  h4 {
    color: $color-primary;
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .columns {
    grid-template-columns: repeat(1, 1fr);
  }

  .wrap {
    h2 {
      font-size: 30px;
    }
  }
}
